body, #scrolly {
    background-color: #0D3D56;
    color: #ffffff;
}

body, h1, h2 {
    font-family: 'Hind Madurai', sans-serif !important;
}

a {
    color: #fff;
}

body h1 {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 1rem;
}

article h1 {
    border-left: 2px dashed white;
}

#intro, #outro {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    color: #ffffff;
}

#intro div, #outro div {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#intro button {
    font-size: 3rem;
}

#outro {
    color: #fdfdfd;
}

#outro h1 {
    color: #ffffff;
}

form {
    margin-bottom: 1rem;
}

figure {
    position: sticky;
    top: 0;
    z-index: 0;
    text-align: center;
    padding: 1rem;
}

figure h1 {
    color: #ffffff;
    font-size: 1.5rem;
}

figure h2 {
    color: #ffffff;
}

figure svg {
    display: block;
    margin: 0 auto;
}

.step {
    color: #ffffff;
}

.step h1 {
    writing-mode: vertical-rl;
    color: #d2d2d2;
    font-size: 3rem;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active h1 {
    color: #ffffff;
}

#viz4_svg, #world {
    background-color: #fff;
    border-radius: 1rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.country:hover {
    stroke: black;
    stroke-width: 1px;
    opacity: 0.5;
}

.country {
    stroke: black;
    stroke-width: 1px;
    fill: grey;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}